{% extends "blockchain/base.html" %}
{% block content %}
{% for block in blocks%}


<!--BASE BLOCK-->
<article class="media content-section">
     <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ block.author }}</a>

            <!--Django Date Filters: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date-->
            <small class="text-muted">{{ block.date_posted|date:"F d, Y" }}</small>

        </div>
        <h2><a class="article-title" href="{% url 'blockchain-block-details' block.id %}">{{ block.title }}</a></h2>
        <p class="article-content">{{ block.block_index }}</p>
    </div>
</article>
<!--END OF THE BASE BLOCK-->


{% endfor %}
{% endblock content %}