/* Variables */
:root {
    --global-font-family:  'Cutive Mono', monospace;
    --global-font-size: 1rem;
    --global-title-size: 1.5rem;
    --global-code-size: 0.8rem;
    --global-primary-title-size: 2rem;
    --global-text-color: #4d4d4d;
    --global-border-color: #e5e5e5;

    --shadow-color: rgba(0,0,0,.05);
}

/* Default css */
html, body{
    width: 100%;
    height: 100%;
    font-size: var(--global-font-size);
    font-family: var(--global-font-family);
}

h1,h2,h3{
    font-size: var(--global-primary-title-size);
}

p{
    font-size: var(--global-font-size);
}
