{% extends "blockchain/base.html" %}
{% block content %}
{% if user.is_authenticated %}
{% for block in blocks%}


<!--BASE BLOCK-->

<article class="media content-section">
    <div class="media-body">
        <!--<div class="article-metadata">-->
        <a class="mr-2" href="#">{{ block.author }}</a>

        <!--Django Date Filters: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date-->
        <!--<small class="text-muted">{{ block.date_posted|date:"d m Y" }}</small>-->

        <!--</div>-->
        <div class="table-responsive text-nowrap">
            <p class="title_block"><span class="fab fa-ethereum fa-lg" ></span>   <a class="article-title" href="{% url 'blockchain-block-details' block.id %}">{{ block.title }}</a></p>
        <table class="table">
            <tbody class="">
            <tr class="">
                <th scope="col">NUMBER</th>
                <th scope="col">NONCE</th>
                <th scope="col">MANED ON</th>
                <th scope="col">HASH</th>
            </tr>
            <tr>
                <td scope="col">{{ block.block_index }}</td>
                <td scope="col">{{ block.nonce }}</td>
                <td scope="col">{{ block.date_posted|date:"d/m/Y H:i:s" }}</td>
                <td id = "hash_id" scope="col">{{ block.hash }}</td>

            </tr>
            </tbody>
        </table>
        </div>
    </div>
</article>
<!--END OF THE BASE BLOCK-->


{% endfor %}


<!--PAGINATOR OF THE PAGE-->


{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif%}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif%}
{% endfor%}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif%}

{% endif %}


<!--END OF PAGINATOR-->

{% endif %}
{% endblock content %}