@import "_config.css";

/* Navigation */
.nav-li{
        font-size: var(--global-title-size);
}

.nav-a {
    color: var(--global-text-color);
}

/* Boostrap code */
.bs-url{
    margin: 1%;
    text-align: left;
    font-size: var(--global-font-size);
}

.bs-request{
    color: var(--global-text-color);
}

.bs-example {
    position: relative;
    padding: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 14px;
    margin-left: 15px;
    border-color: var(--global-border-color);
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: inset 0 3px 6px var(--shadow-color);
    box-shadow: inset 0 3px 6px var(--shadow-color);
    font-size: var(--global-code-size);
}
.bs-example:after {
    padding: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 14px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 10;
    color: var(--global-text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Examples";
    font-size: var(--global-font-size);
}
.bs-example-padded-bottom {
    padding-bottom: 10px;
}
 
@media (max-width: 480px){
    .code {
        size: 1rem;
        padding: 15px;
        margin: -15px 15px 15px;
        border-style: solid;
        border-color: var(--global-border-color);
        border-width: 1px;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: var(--global-code-size);
    }
}

@media (max-width: 954px){
    .code {
        padding: 15px;
        margin: -15px 15px 15px;
        border-style: solid;
        border-color: var(--global-border-color);
        border-width: 1px;
        border-radius:0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: var(--global-code-size);
    }
}

@media (min-width: 954px){
    .code {
        padding: 15px;
        margin: -15px 15px 15px;
        border-style: solid;
        border-color: var(--global-border-color);
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: var(--global-code-size);
    }
}

@media (min-width: 1024px){
    .code {
        padding: 15px;
        margin: -15px 15px 15px;
        border-style: solid;
        border-color: var(--global-border-color);
        border-width: 1px;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: var(--global-code-size);
    }
}